name: trivy-action
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in fs mode
        uses: david-marconis/trivy-action@248e3f1ae9550400733c4410e0fdc2e264a19b5b
        with:
          scan-type: 'fs'
          image-ref: '.'
          format: table

      - name: Run Trivy vulnerability scanner in fs mode
        uses: david-marconis/trivy-action@248e3f1ae9550400733c4410e0fdc2e264a19b5b
        with:
          scan-type: 'fs'
          image-ref: '.'

      - name: Run Trivy vulnerability scanner in fs mode
        uses: david-marconis/trivy-action@248e3f1ae9550400733c4410e0fdc2e264a19b5b
        with:
          scan-type: 'fs'
          image-ref: '.'
          format: sarif

